@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --black: #020202;
    --dark-green: #0D2818;
    --mid-green: #04471C;
    --light-green: #058C42;
    --text-color: #16DB65;
    --main-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--main-font);
}

html {
    scroll-behavior: smooth;
}

body::after {
    content: "Gluren";
    color: var(--light-green);

    position: relative;
    bottom: -50px;

}

#fliepeltjes div {
    position: absolute;
    width: 200vw;
    z-index: -10;
}

#mid {
    margin-top: 100vh;
}

#bot {
    margin-top: 80vh;
    margin-bottom: 20vh;
}

#flip0 {
    rotate: -28deg;
    transform: translate(-400px, -600px);
}

#flip1 {
    transform: translate(-40rem, 65rem);
    rotate: 10deg;
}

#flip2 {
    transform: translate(-40rem, 90rem);
    rotate: -15deg;
}

header {
    transition: transform 0.4s cubic-bezier(.65, 0,.23,1);
}

.startAnimation {
    transition: none !important;
    transform: translateY(-100%);
}

.is-stuck {
    transform: translateY(-100%);
}

.eng {
    width: 80%;
    animation-delay: 600ms;
}

.ned {
    width: 95%;
    animation-delay: 200ms;
}

.spa {
    width: 30%;
    animation-delay: 100ms;
}

.php {
    width: 71%;
    animation-delay: 50ms;
}

.jsc {
    width: 79%;
    animation-delay: 600ms;
}

.htc {
    width: 92%;
    animation-delay: 100ms;
}

.goToProj {
    transition: all .4s;
    display: none;
}

.codeSkill {
    transition: all .4s;
}

.codeSkill:hover .goToProj {
    display: flex;
    filter: contrast(.5);
}
.goToProj:hover {
    filter: contrast(1) !important;
}


.progressBg {
    box-shadow: inset  0 2px 2px rgba(0, 0, 0, 0.5);
}

.progressBar {
    opacity: 0;
    transition: cubic-bezier(.65,-0.02,.23,1.27);
}

.addAnimation {
    animation-name: setBarWidth;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes setBarWidth {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        width: 0%;
    }
}